<div class="container">
  <div class="row">
    <h5 class="font-weight-bold text-muted col-md-2 offset-md-2 text-center mt-5 mb-5" style="background-color:#bce2e8;">
      管理者ログイン
    </h5>
  </div>

  <div class="row">
    <div class="px-3 offset-md-2 col-11 col-sm-10 col-lg-8 col-xl-6">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <div class="form-group row">
         <label class="col-md-4 font-weight-bold text-muted" for="admin_email">メールアドレス</label>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "col-md-8 form-control" %>
       </div>

       <div class="form-group row">
          <label class="col-md-4 font-weight-bold text-muted" for="admin_password">パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-md-8 form-control" %>
        </div>


        <div class="form-group row">
         <%= f.submit "ログイン", class: "btn btn-primary col-md-3 offset-md-4 mt-3" %>
        </div>
    <% end %>

    <%= render "admin/shared/links" %>
    </div>
  </div>
</div>
