<div class="container">

  <div class="mt-4 ml-4">
    <%# フラッシュメッセージ %>
    <h5 class="font-weight-bold text-muted"><%= flash[:notice] %></h5>
  </div>

  <div class="row">
    <div class="h5 font-weight-bold text-muted text-center mt-5 mb-4 ml-4" style="background-color:gainsboro;">
      &emsp;管理者ログイン&emsp;
    </div>
  </div>

  <div class="row">
    <div class="px-3 ml-5 col-10 col-md-12 col-lg-8">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <div class="form-group row">
         <label class="col-md-3 font-weight-bold text-muted" for="admin_email">メールアドレス</label>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "col-md-6 col-11 form-control" %>
       </div>

       <div class="form-group row">
          <label class="col-md-3 font-weight-bold text-muted" for="admin_password">パスワード</label>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-md-6 col-11 form-control" %>
        </div>


        <div class="actions">
         <%= f.submit "ログイン", class: "btn btn-primary col-md-3 col-11 offset-md-3 mt-3" %>
        </div>
    <% end %>

    <%= render "admin/shared/links" %>
    </div>
  </div>
</div>
