<%# コメント詳細 %>
  <div class="container">
    <div class="row">

        <div class="col-2 ml-3">
          <div class="text-center">
            <%# ユーザーアイコン　%>
            <%= link_to user_path(@comment.user.id) do %>
              <%= image_tag @comment.user.get_profile_picture(70,70), class: "border border-2 mt-3" %>
            <% end %>
          </div>
            <%# ユーザー名　%>
            <%= link_to user_path(@comment.user.id) do %>
              <h5 class="text-center text-dark mb-3"><%= @comment.user.user_name %></h5>
            <% end %>
        </div>


        <div class="col-7 mt-4">
          <%# コメント作成日時　%>                         <%# コメント %>
          <%= @comment.created_at.strftime('%Y/%m/%d') %> : <%= @comment.post_comment %>
        </div>

          <%# 削除ボタン　%>
          <% if @comment.user == current_user %><%# コメントしたものがログインユーザーのものであれば削除ボタン表示 %>
            <%= link_to "コメント削除", illustration_comment_path(@comment.illustration, @comment), method: :delete, class: "btn btn-danger col-md-2 ml-4 mt-5 mb-5" %>
          <% end %>

    </div>
  </div>
  <hr>

    <%= form_with(model:[@comment,@comment_reply]) do |form| %>
        <div class="row">
          <div class="form-group col-md-6">
            <p><label>リプライ</label></p>
            
            <textarea class="form-control input-form" name="comment[post_comment]" rows="2">
              <%= @comment_reply.post_comment %>
            </textarea>
            
          </div>
        </div>
          <%= form.hidden_field :comment_id, value: @comment.id %>
          <%= form.hidden_field :parent_id, value: comment.id%>
        <div class="actions">
          <%= form.submit "返信する", class: "btn btn-success col-md-3 mt-4 mb-5" %>
        </div>
    <% end %>
