<% if users.exists? %><%# フォロー、フォロワーがいる場合 %>

  <%# ユーザー一覧 %>
  <% users.each do |user| %>

    <div class="container">
      <div class="row">

        <div class="col-1">
          <%# ユーザーアイコン　%>
          <div class="text-center">
            <%= link_to user_path(user.id) do %>
              <%= image_tag user.get_profile_picture(80,80), class: "border border-2 mt-3" %>
            <% end %>
          </div>

          <%# ユーザー名　%>
          <%= link_to user_path(user.id) do %>
            <h5 class="text-dark text-center mb-4">
              <%= user.user_name %>
            </h5>
          <% end %>
        </div>

        <%# 自己紹介文　%>
        <div class="col-6">
          <h6 class="mt-5 ml-5"><%= user.self_introduction %></h6>
        </div>

        <%# フォローボタン %>
        <div class="col-3">
          <% if current_user.following?(user) %>
            <%= link_to "フォローを外す", user_relationships_path(user.id), method: :delete, class: "btn btn-dark offset-md-5 mt-4" %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-primary offset-md-5 mt-4" %>
          <% end %>
        </div>

      </div>
    </div>

  <% end %><%# each %>

  <% else %><%# フォロー、フォロワーがいない場合 %>
  <div class="container">
    <h5 class="font-weight-bold text-muted text-center mt-5 ml-5">
      ユーザーはいません
    </h5>
  </div>

<% end %><%# if %>

<%# ページ %>
<div class="container">
  <div class="col-12 offset-md-5 mb-3 mt-3">
    <%= paginate @users %>
  </div>
</div>


