<div class="container">
  <div class="row">
    <h4 class="font-weight-bold text-muted mt-3 mb-4">
      検索
    </h4>
    <h6 class="text-muted mt-4">
      &emsp;: ユーザーとイラストを検索できます。
    </h6>
  </div>
</div>

<div class="container">

  <div class="searches-form">
    <%= form_with url: searches_path, method: :get, local: true do |f| %>
      <div class="row">
        <%# 入力フォーム %>
        <div class="col-5">
          <%= f.text_field :keyword, value: @keyword, placeholder: "ユーザー名、キーワードを入力", class: "col-md-12 form-control ml-2 mt-3" %>
        </div>
        <%# 検索ボタン %>
        <div class="col-2">
          <%= f.submit "検索", class: "btn btn-primary col-md-5 ml-2 mt-3" %>
        </div>
      </div>
    <% end %>
  </div>


  <%# イラストの検索結果 %>
  <% if @search_word.present? %>
    <h6 class="font-weight-bold mt-4 ml-3">
      <%= @illustrations.count %>件の検索結果(イラスト)
    </h6>

    <div class="illustration-list mt-5 ml-3">
      <% @illustrations.each do |illustration| %>
        <%= link_to illustration_path(illustration.id) do %>
          <%= image_tag illustration.get_image(300,300) %>
        <% end %>
      <% end %>
    </div>
  <% end %>


  <%# ユーザーの検索結果 %>
  <% if @search_word.present? %>
    <h6 class="font-weight-bold mt-4 ml-3">
      <%= @users.count %>件の検索結果(ユーザー)
    </h6>

    <div class="user-list">
      <% @users.each do |user| %>

      <div class= "row ml-3">
        <%# ユーザー名　%>
        <%= link_to user_path(user.id) do %>
          <div class="col-3">
            <h4 class="text-dark mt-5 mr-5">
              <%= user.user_name %>
            </h4>
          </div>
        <% end %>

        <%# ユーザーアイコン　%>
        <%= link_to user_path(user.id) do %>
          <div class="col-2">
            <%= image_tag user.get_profile_picture(100,100), class: "border border-2 mt-3" %>
          </div>
        <% end %>

        <%# 自己紹介文　%>
        <div class="col-8">
          <h6 class="mt-5"><%= user.self_introduction %></h6>
        </div>
      </div>

      <% end %>
    </div>
  <% end %>

</div>