
<div class="container">

  <%# フラッシュメッセージ %>
  <div class="mt-4 ml-4">
    <h6 class="font-weight-bold text-muted"><%= flash[:notice] %></h6>
  </div>

  <div class="row">
    <div class="mx-auto col-12">
      <h1 class="display-5 font-weight-bold text-muted text-center mt-4">
        Connect   Through   Art
      </h1>

    <div class="introduction">
      <h5 class="font-weight-bold text-muted mt-4 mb-5 text-center">
       イラストで交流を深める、シンプルなSNSサイト
      </h5>
    </div>

    </div>
  </div>
</div>


  <div class="container">
    <div class="row">

      <div class="new_button col-6 col-md-5">
        <%= link_to new_user_registration_path do %>
          <button type="button" class="btn btn-secondary offset-md-8">新規登録</button>
        <% end %>
      </div>

      <div class="login_button col-5 col-md-2">
        <%= link_to user_session_path do %>
          <button type="button" class="btn btn-secondary offset-md-1">ログイン</button>
        <% end %>
      </div>

      <div class="guest_button col-12 col-md-3">
        <%=link_to homes_guest_sign_in_path, method: :post do %>
          <button type="button" class="btn btn-secondary">ゲストログイン</button>
        <% end %>
      </div>

      <div class="guest_text h6 text-muted mt-3">
        お試しでご利用される方
      </div>

    </div>


  </div>





  <%# イラスト一覧 %>
  <div class="mb-5">
    <div class="container">
      <div class="row">
        <div class="h5 font-weight-bold text-muted ml-5 mt-5">新着イラスト</div>
      </div>

        <div class="illustrations">
          <% @illustrations.each do |illustration| %>
            <%= image_tag illustration.image, class:"illustration ml-2 mt-3" %>
          <% end %>
        </div>

    </div>
  </div>




