<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
  </head>

<div class="container">

  <%# フラッシュメッセージ %>
  <div class="mt-4 ml-4">
    <h5 class="text-muted"><%= flash[:notice] %></h5>
  </div>

  <div class="row">
    <div class="mx-auto col-12">
      <h1 class="display-5 font-weight-bold text-muted text-center mt-4">
        Connect   Through   Art
      </h1>

      <h5 class="font-weight-bold text-muted mt-4 mb-5 text-center">
       イラストで交流を深める、シンプルなSNSサイト
      </h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 mx-auto text-center">
      <%= link_to new_user_registration_path do %>
        <button type="button" class="btn btn-outline-secondary">新規登録</button>
      <% end %>

      <%= link_to user_session_path do %>
        <button type="button" class="btn btn-outline-secondary offset-md-1">ログイン</button>
      <% end %>

      <%=link_to homes_guest_sign_in_path, method: :post do %>
        <button type="button" class="btn btn-outline-secondary offset-md-1">ゲストログイン</button>
      <% end %>

      <h6 class="text-muted mt-3 offset-md-4">
        お試しでご利用される方
      </h6>
    </div>
  </div>
</div>


  <%# イラスト一覧 %>
  <div class="mb-5">
    <div class="container">
      <div class="row">
        <h5 class="font-weight-bold text-muted ml-5 mt-5">新着イラスト</h5>
      </div>

      <% @illustrations.each do |illustration| %>
        <%= image_tag illustration.image, class:"ml-3 mt-3", width:'200px', height:'250px' %>
      <% end %>
    </div>
  </div>

</html>
