<%# イラスト投稿編集画面 %>

<div class="container">
  <div class="row">
    <h5 class="font-weight-bold text-muted offset-md-1 text-center mt-5 mb-4 ml-5" style="background-color:gainsboro;">
      &emsp;イラスト編集&emsp;
    </h5>
  </div>
</div>

<%= form_with model: @illustration, url:admin_illustration_path(@illustration.id) do |f| %>

<div class="container">
  <div class="row ml-5">
    <div class="illustration_edit col-11 col-md-9">

      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-3">イラスト</label>
          <%= f.label :image, "ファイルを選択", class: "image_input_btn btn btn-secondary" %>
          <%= f.file_field :image, class: "image_form" %>
          <input id="filename" readonly type="text" value="" >
      </div>

      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-3">タイトル</label>
          <%= f.text_field :title, class: "col-md-6 form-control" %>
      </div>

      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-3">説明文</label>
          <%= f.text_area :introduction, class: "col-md-6 form-control" %>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row ml-2">

    <div class="illustration_save_button col-md-4 col-5">
      <%= f.submit '変更を保存', class: "btn btn-success col-md-5 offset-md-8 mt-3" %>
    </div>

    <div class="col-md-6 col-5">
      <%= link_to "削除する", admin_illustration_path(@illustration), method: :delete, class: "btn btn-danger col-md-3 mt-3 ml-3", "data-confirm" => "本当に削除しますか？" %>
    </div>

  </div>
</div>

<% end %>

<script type="text/javascript">
$(document).on('change', '.image_form', function() {
$('#filename').val($(this).val().replace(/^.*\\/, ""));
 })
</script>


