<div class="container">
  <div class="row">

    <div class="col-2"><%# 投稿ユーザー　%>
      <div class="text-center">
        <%# ユーザーアイコン　%>
        <%= link_to admin_user_path(@illustration.user.id) do %>
          <%= image_tag @illustration.user.get_profile_picture(100,100), class: "border border-2 mt-3" %>
        <% end %>
      </div>
        <%# ユーザー名　%>
        <%= link_to admin_user_path(@illustration.user.id) do %>
          <h4 class="text-center"><%= @illustration.user.user_name %></h4>
        <% end %>
    </div>

    <div class="col-5">
      <div class="form-group row mt-3">
       <h4 class="font-weight-bold"><%= @illustration.title %></h4>
      </div>

      <div class="form-group row">
        説明  : <%= @illustration.introduction %><br>
        投稿日: <%= @illustration.created_at.strftime('%Y/%m/%d') %><br>
      </div>

    </div>

    <div class="col-5">
      <div class="form-group row">
        <%= link_to '編集', edit_admin_illustration_path(@illustration.id), class: "btn btn-success col-md-2 offset-md-3 mt-3" %>
      </div>
    </div>

  </div>
</div>

<hr color="silver"><%# イラスト %>

<div class="container">
  <div class="row">
    <div class="px-3 mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 mt-4">

      <div class="form-group row">
        <%= image_tag @illustration.get_image(500,500) %>
      </div>

    </div>
  </div>
</div>

<div class="container"><%# コメント %>
  <div class="row">

    <div class="col-2">
      <h5 class="font-weight-bold mt-5 ml-5">
        コメント
      </h5>
    </div>

    <div class="col-2">
      <h6 class="mt-5">
        コメント件数：<%= @illustration.comments.count %>
      </h6>
    </div>

  </div>
</div>

<div class="container">
  <% @illustration.comments.each do |comment| %><%# コメント表示 %>
    <div class="row">

      <div class="col-2">
        <div class="text-center">
          <%# ユーザーアイコン　%>
          <%= link_to admin_user_path(comment.user.id) do %>
            <%= image_tag comment.user.get_profile_picture(70,70), class: "border border-2 mt-3 ml-3" %>
          <% end %>
        </div>
          <%# ユーザー名　%>
          <%= link_to admin_user_path(comment.user.id) do %>
            <h4 class="text-center ml-3"><%= comment.user.user_name %></h4>
          <% end %>
      </div>

      <div class="col-10">
        <%# コメント作成日時　%>                         <%# コメント　%>
        <%= comment.created_at.strftime('%Y/%m/%d') %> :  <%= comment.post_comment %>

        <%# 削除ボタン　%>
        <%= link_to "削除", illustration_comment_path(comment.illustration, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger col-md-1 offset-md-3 mt-5 mb-5" %>
      </div>

    </div>
  <% end %>
</div>