<%# 管理者側イラスト詳細画面 %>

<div class="container">
  <%# フラッシュメッセージ %>
  <div class="mt-4 ml-4">
    <h6 class="text-muted font-weight-bold"><%= flash[:notice] %></h6>
  </div>
</div>


<div class="container">
  <div class="row">

    <div class="col-12 col-md-2"><%# 投稿ユーザー　%>
      <div class="text-center">
        <%# ユーザーアイコン　%>
        <%= link_to admin_user_path(@illustration.user.id) do %>
          <%= image_tag @illustration.user.profile_picture, class: "profile_picture border border-2" %>
        <% end %>
      </div>
        <%# ユーザー名　%>
        <%= link_to admin_user_path(@illustration.user.id) do %>
          <div class="user_name h4 text-center text-dark font-weight-bold">
            <%= @illustration.user.user_name %>
          </div>
        <% end %>
    </div>

    <div class="col-12 col-md-5">
      <%# タイトル　%>
      <div class="mb-4 mt-4">
        <div class="illustration_title h4 font-weight-bold">
          <%= @illustration.title %>
        </div>
      </div>

      <div class="illustration_introduction form-group row">
        説明  : <%= @illustration.introduction %><br>
        投稿日: <%= @illustration.created_at.strftime('%Y/%m/%d') %><br>
      </div>

    </div>

    <%# 編集ボタン　%>
    <div class="illustration_edit_button col-5 col-md-5">
      <div class="form-group row">
        <%= link_to 'イラスト編集', edit_admin_illustration_path(@illustration.id), class: "btn btn-success col-md-4 offset-md-4 mt-4" %>
      </div>
    </div>

  </div>
</div>

<hr color="silver">

  <div class="container"><%# イラスト　%>
    <div class="row">
      <div class="px-3 mx-auto col-12 col-sm-10 col-lg-8 col-xl-6 mt-4">

        <%= image_tag @illustration.image, class:"show_illustration" %>

      </div>
    </div>
  </div>

<div class="container"><%# コメント %>
  <div class="row">

    <div class="col-4 col-md-2">
      <h5 class="comment font-weight-bold text-muted mt-5">
        コメント
      </h5>
    </div>

    <div class="col-6 col-md-2">
      <h6 class="mt-5 text-muted">
        コメント件数：<%= @illustration.comments.count %> 件
      </h6>
    </div>

  </div>
</div>

  <%# 親コメント表示 %>
  <% @comments.each_with_index do |comment| %>
  <div class="container">
    <div class="row">

      <div class="col-3 col-md-2 ml-3">
        <div class="text-center">
          <%# ユーザーアイコン　%>
          <%= link_to admin_user_path(comment.user.id) do %>
            <%= image_tag comment.user.get_profile_picture(70,70), class: "border border-2 mt-3" %>
          <% end %>
        </div>
          <%# ユーザー名　%>
          <%= link_to admin_user_path(comment.user.id) do %>
            <div class="mini_user_name h5 text-center text-dark font-weight-bold mb-3"><%= comment.user.user_name %></div>
          <% end %>
      </div>

       <div class="col-5">
          <%# コメント %>
          <div class="mt-3">
            <%= comment.post_comment %><br>
          </div>
          <%# コメント作成日時　%>
          <h6 class="text-secondary mt-3">
            (<%= comment.created_at.strftime('%Y/%m/%d') %>)<br>
          </h6>
        </div>

        <%# 削除ボタン　%>
      <div class="col-6 col-md-4">
        <%= link_to "コメント削除", admin_illustration_comment_path(comment.illustration, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-secondary col-md-5 offset-md-3 mt-4 mb-5" %>
      </div>

    </div>
  </div>


  <%# 返信コメント表示 %>
  <% @replys = Comment.where(parent_id: comment.id) %>
    <% @replys.each do |reply| %>
    <div class="container">
      <div class="row">

        <div class="col-3 col-md-2 mt-2 ml-3">
          <div class="text-center">
            <%# ユーザーアイコン %>
            <%= link_to admin_user_path(reply.user.id) do %>
              <%= image_tag reply.user.get_profile_picture(60,60), class: "border border-2 mt-3" %>
            <% end %>
          </div>
            <%# ユーザー名 %>
            <%= link_to admin_user_path(reply.user.id) do %>
              <div class="comment_user_name h6 text-center text-dark mb-3"><%= reply.user.user_name %></div>
            <% end %>
        </div>

        <div class="col-8 col-md-5">
          <div class="text-primary">
            <% if reply.parent_id %>
              <%= reply.parent.user.user_name%> さんへのコメント<br>
            <% end %>
          </div>
          <%# コメント %>
          <div class="mt-3">
            <%= reply.post_comment %><br>
          </div>
          <%# コメント作成日時　%>
          <h6 class="text-secondary mt-3">
            (<%= reply.created_at.strftime('%Y/%m/%d') %>)<br>
          </h6>
        </div>

        <div class="col-6 col-md-4">
          <%# 削除ボタン　%>
          <%= link_to "コメント削除", admin_illustration_comment_path(reply.illustration, reply), method: :delete, class: "btn btn-secondary col-md-5 offset-md-3 mt-3 mb-3" %>
        </div>

      </div>
    </div>

    <% end %>
      <hr>
  <% end %>

<div class="container">
  <div class="paginate col-12 col-md-12 offset-md-5 mb-3 mt-3">
    <%= paginate @comments %>
  </div>
</div>




