<div class="container">
  <div class="row">
    <h5 class="font-weight-bold text-muted offset-md-1 text-center mt-4 mb-4  ml-5" style="background-color:#bce2e8;">
      &emsp;投稿編集&emsp;
    </h5>
  </div>


  <div class="row ml-4">
    <div class="col-9">

    <%= form_with model: @illustration, url:illustration_path(@illustration.id) do |f| %>

      <div class="form-group row">
        <label class="col-md-3">商品画像</label>
          <%= f.file_field :image, accept: "image/*" %>
      </div>

      <div class="form-group row">
        <label class="col-md-3">商品名</label>
          <%= f.text_field :title, class: "col-md-6 form-control" %>
      </div>

      <div class="form-group row">
        <label class="col-md-3">商品説明</label>
          <%= f.text_area :introduction, class: "col-md-6 form-control" %>
      </div>

      <div class="form-group row">
        <%= f.submit '変更を保存', class: "btn btn-success col-md-2 offset-md-3 mt-3" %>

        <% if @illustration.user == current_user %>
          <%= link_to "削除する", illustration_path(@illustration), method: :delete, class: "btn btn-danger offset-md-3 mt-3 ml-3" %>
        <% end %>
      </div>
    <% end %>

    </div>
  </div>
</div>