<%# イラスト詳細画面 %>

  <div class="container">
    <%# フラッシュメッセージ %>
    <div class="mt-4 ml-4">
      <h6 class="text-muted font-weight-bold"><%= flash[:notice] %></h6>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-3  col-md-2"><%# 投稿ユーザー %>
        <div class="text-center">
          <%# ユーザーアイコン　%>
          <%= link_to user_path(@illustration.user.id) do %>
            <%= image_tag @illustration.user.get_profile_picture(100,100), class: "border border-2 mt-4" %>
          <% end %>
        </div>
        <%# ユーザー名　%>
        <%= link_to user_path(@illustration.user.id) do %>
          <div class="user_name h4 text-center text-dark"><%= @illustration.user.user_name %></div>
        <% end %>
      </div>

      <div class="title col-7 col-md-5">
        <%# タイトル　%>
        <div class="form-group row mt-4">
         <h4 class="font-weight-bold"><%= @illustration.title %></h4>
        </div>

        <div class="form-group row">
          説明  : <%= @illustration.introduction %><br>
          投稿日: <%= @illustration.created_at.strftime('%Y/%m/%d') %><br>
        </div>

      </div>

      <div class="illustration_button col-5"><%# 編集ボタン　%>
        <div class="form-group row">
          <% if @illustration.user == current_user %>
            <%= link_to 'イラスト編集', edit_illustration_path(@illustration.id), class: "btn btn-success col-md-4 offset-md-3 mt-4" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <hr color="silver">

  <div class="container"><%# イラスト　%>
    <div class="row">
      <div class="px-3 mx-auto col-12 col-sm-10 col-lg-8 col-xl-6 mt-4">

        <div class="show_illustration">
          <div class="form-group row">
            <%= image_tag @illustration.image, class:"show_illustration" %>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <%# いいね %>
      <div class="col-4 col-md-2">
        <div class="like h5 font-weight-bold text-muted mt-5">
          いいね
        </div>
      </div>

    <%# いいねボタン %>
    <% if @illustration.liked_by?(current_user, 0) %>
      <%= link_to illustration_likes_path(@illustration, like_stamp: 0), method: :delete do %>
        <%# いいねあり %>
        <h4 class="mt-5 mr-4 text-muted">😊 <%= @illustration.likes.where(like_stamp: 0).count %></h4>
      <% end %>

    <% else %>
      <%= link_to illustration_likes_path(@illustration, like_stamp: 0), method: :post do %>
        <%# いいねなし %>
        <h5 class="mt-5 mr-4 text-muted">😊 <%= @illustration.likes.where(like_stamp: 0).count %></h5>
      <% end %>
    <% end %>

    <% if @illustration.liked_by?(current_user, 1) %>
      <%= link_to illustration_likes_path(@illustration, like_stamp: 1), method: :delete do %>
        <%# いいねあり %>
        <h4 class="mt-5 mr-4 text-muted">😍 <%= @illustration.likes.where(like_stamp: 1).count %></h4>
      <% end %>

    <% else %>
      <%= link_to illustration_likes_path(@illustration, like_stamp: 1), method: :post do %>
        <%# いいねなし %>
        <h5 class="mt-5 mr-4 text-muted">😍 <%= @illustration.likes.where(like_stamp: 1).count %></h5>
      <% end %>
    <% end %>

    <% if @illustration.liked_by?(current_user, 2) %>
      <%= link_to illustration_likes_path(@illustration, like_stamp: 2), method: :delete do %>
        <%# いいねあり %>
        <h4 class="mt-5 mr-4 text-muted">😭 <%= @illustration.likes.where(like_stamp: 2).count %></h4>
      <% end %>

    <% else %>
      <%= link_to illustration_likes_path(@illustration, like_stamp: 2), method: :post do %>
        <%# いいねなし %>
        <h5 class="mt-5 mr-4 text-muted">😭 <%= @illustration.likes.where(like_stamp: 2).count %></h5>
      <% end %>
    <% end %>

      <%# 共有 %>
      <div class="col-3 col-md-1">
        <div class="share h5 font-weight-bold text-muted mt-5">
          共有
        </div>
      </div>

      <div class="col-5 col-md-3 mt-5">
        <%# Twitter共有ボタン %>
        <%= link_to "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' do %>
          <i class="h3 fa-brands fa-square-twitter mr-4 ml-4"></i>
        <% end %>

        <%# Instagram共有ボタン %>
        <%= link_to "https://instagram.com/share?url=#{request.url}", title: 'Instagram', target: '_blank' do %>
          <i class="h3 fa-brands fa-instagram"></i>
        <% end %>
      </div>

    </div>
  </div>


  <div class="container"><%# コメント %>
    <div class="row">
      <div class="col-4 col-md-2">
        <h5 class="comment font-weight-bold text-muted mt-5">
          コメント
        </h5>
      </div>

      <div class="col-2">
        <h6 class="mt-5 text-muted">
          <%= @illustration.comments.count %> 件
        </h6>
      </div>

    </div>
  </div>

  <%# コメント送信フォーム %>
  <%= form_with model: [@illustration, @comment] do |f| %>
    <div class="container">
      <div class="row">

        <div class="col-12 col-md-7">
          <%= f.text_area :post_comment, class: "col-md-11 offset-md-1 mt-3 form-control", placeholder: "コメント記入" %>
        </div>

        <div class="col-5">
          <%= f.submit "送信する", class: "btn btn-success col-md-3 mt-4 mb-5" %>
        </div>

      </div>
    </div>
  <% end %>

  <%# 親コメント %>
  <% @comments.each_with_index do |comment| %>
    <div class="container">
      <div class="row">

        <div class="col-3 col-md-2 ml-3">
          <div class="text-center">
            <%# ユーザーアイコン　%>
            <%= link_to user_path(comment.user.id) do %>
              <%= image_tag comment.user.get_profile_picture(70,70), class: "border border-2 mt-3" %>
            <% end %>
          </div>
            <%# ユーザー名　%>
            <%= link_to user_path(comment.user.id) do %>
              <div class="comment_user h5 text-center text-dark mb-3"><%= comment.user.user_name %></div>
            <% end %>
        </div>

        <div class="col-5">
          <%# コメント %>
          <div class="mt-3">
            <%= comment.post_comment %><br>
          </div>
          <%# コメント作成日時　%>
          <h6 class="text-secondary mt-3">
            (<%= comment.created_at.strftime('%Y/%m/%d') %>)<br>
          </h6>
        </div>

        <div class="col-4">
          <%# 削除ボタン　%>
          <% if comment.user == current_user %><%# コメントしたものがログインユーザーのものであれば削除ボタン表示 %>
            <%= link_to "コメント削除", illustration_comment_path(comment.illustration, comment), method: :delete, class: "btn btn-outline-secondary col-md-5 mt-3 mb-3" %>
          <% end %>
        </div>

      </div>
    </div>


  <%# 親コメントへの返信 %>
  <div class="container">

    <%# コメント返信収納ボタン %>
    <div class ="reply">
      <a id="btn-txt" class="btn btn-primary offset-md-2 col-md-5 mb-3 reply-btn">💬コメント返信</a>
        <ul class="items"  style="display: none;">

            <%# 親コメントへの返信 %>
            <%= form_with(model:[@illustration,@comment]) do |f| %>
              <div class="container">
                <div class="row">

                  <div class="form-group col-12 col-md-6">
                    <%= f.text_area :post_comment, class: "col-md-11 offset-md-4 mt-3 form-control", placeholder: "返信コメント記入" %>
                  </div>

                  <%= f.hidden_field :illustration_id, value: @illustration.id %>
                  <%= f.hidden_field :parent_id, value: comment.id%>

                  <%# 返信ボタン %>
                  <div class="col-5">
                    <%= f.submit "返信する", class: "btn btn-primary col-md-3 offset-md-4 mt-4 mb-5" %>
                  </div>

                </div>
              </div>
            <% end %>


  <%# 返信コメント %>
  <% @replys = Comment.where(parent_id: comment.id) %>
    <% @replys.each do |reply| %><%# コメント表示 %>
    <div class="container mr-5">
      <div class="row">

        <div class="col-3 col-md-2 ml-3">
          <div class="text-center">
            <%# ユーザーアイコン　%>
            <%= link_to user_path(reply.user.id) do %>
              <%= image_tag reply.user.get_profile_picture(70,70), class: "border border-2 mt-3" %>
            <% end %>
          </div>
            <%# ユーザー名　%>
            <%= link_to user_path(reply.user.id) do %>
              <div class="comment_user h5 text-center text-dark mb-3"><%= reply.user.user_name %></div>
            <% end %>
        </div>

        <div class="col-8 col-md-5">
          <div class="text-primary">
            <% if reply.parent_id %>
              <%= reply.parent.user.user_name%> さんへのコメント<br>
            <% end %>
          </div>
          <%# コメント %>
          <div class="mt-3">
            <%= reply.post_comment %><br>
          </div>
          <%# コメント作成日時　%>
          <h6 class="text-secondary mt-3">
            (<%= reply.created_at.strftime('%Y/%m/%d') %>)<br>
          </h6>
        </div>

        <div class="col-4">
          <%# 削除ボタン　%>
          <% if reply.user == current_user %><%# コメントしたものがログインユーザーのものであれば削除ボタン表示 %>
            <%= link_to "コメント削除", illustration_comment_path(reply.illustration, reply), method: :delete, class: "btn btn-outline-secondary col-md-5 ml-4 mt-3 mb-3" %>
          <% end %>
        </div>

      </div>
    </div>

    <% end %>
    <%# コメント返信収納ボタン %>
        </ul>
    </div>
  </div>

    <hr>
  <% end %>

