<%# イラスト詳細画面 %>

<!DOCTYPE html>
  <html>
    <head>
      <script src="https://kit.fontawesome.com/4a01096b3c.js" crossorigin="anonymous"></script>
    </head>

  <div class="container">
    <%# フラッシュメッセージ %>
    <div class="mt-4 ml-4">
      <h6 class="text-muted"><%= flash[:notice] %></h6>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-2"><%# 投稿ユーザー %>
        <div class="text-center">
          <%# ユーザーアイコン　%>
          <%= link_to user_path(@illustration.user.id) do %>
            <%= image_tag @illustration.user.get_profile_picture(100,100), class: "border border-2 mt-4" %>
          <% end %>
        </div>
        <%# ユーザー名　%>
        <%= link_to user_path(@illustration.user.id) do %>
          <h4 class="text-center text-dark"><%= @illustration.user.user_name %></h4>
        <% end %>
      </div>

      <div class="col-5"><%# タイトル　%>
        <div class="form-group row mt-4">
         <h4 class="font-weight-bold"><%= @illustration.title %></h4>
        </div>

        <div class="form-group row">
          説明  : <%= @illustration.introduction %><br>
          投稿日: <%= @illustration.created_at.strftime('%Y/%m/%d') %><br>
        </div>

      </div>

      <div class="col-5"><%# 編集ボタン　%>
        <div class="form-group row">
          <% if @illustration.user == current_user %>
            <%= link_to 'イラスト編集', edit_illustration_path(@illustration.id), class: "btn btn-success col-md-4 offset-md-3 mt-4" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <hr color="silver">

  <div class="container"><%# イラスト　%>
    <div class="row">
      <div class="px-3 mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 mt-4">

        <div class="form-group row">
          <%= image_tag @illustration.get_image(500,500) %>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <%# いいね %>
      <div class="col-2">
        <h5 class="font-weight-bold text-muted mt-5 ml-5">
          いいね
        </h5>
      </div>

    <%# いいねボタン %>
    <% if @illustration.liked_by?(current_user, 0) %>
      <%= link_to illustration_likes_path(@illustration, like_stamp: 0), method: :delete do %>
        <%# いいねあり %>
        <h4 class="mt-5 mr-4 text-muted">😊 <%= @illustration.likes.where(like_stamp: 0).count %></h4>
      <% end %>

    <% else %>
      <%= link_to illustration_likes_path(@illustration, like_stamp: 0), method: :post do %>
        <%# いいねなし %>
        <h5 class="mt-5 mr-4 text-muted">😊 <%= @illustration.likes.where(like_stamp: 0).count %></h5>
      <% end %>
    <% end %>

    <% if @illustration.liked_by?(current_user, 1) %>
      <%= link_to illustration_likes_path(@illustration, like_stamp: 1), method: :delete do %>
        <%# いいねあり %>
        <h4 class="mt-5 mr-4 text-muted">😍 <%= @illustration.likes.where(like_stamp: 1).count %></h4>
      <% end %>

    <% else %>
      <%= link_to illustration_likes_path(@illustration, like_stamp: 1), method: :post do %>
        <%# いいねなし %>
        <h5 class="mt-5 mr-4 text-muted">😍 <%= @illustration.likes.where(like_stamp: 1).count %></h5>
      <% end %>
    <% end %>

    <% if @illustration.liked_by?(current_user, 2) %>
      <%= link_to illustration_likes_path(@illustration, like_stamp: 2), method: :delete do %>
        <%# いいねあり %>
        <h4 class="mt-5 mr-4 text-muted">😭 <%= @illustration.likes.where(like_stamp: 2).count %></h4>
      <% end %>

    <% else %>
      <%= link_to illustration_likes_path(@illustration, like_stamp: 2), method: :post do %>
        <%# いいねなし %>
        <h5 class="mt-5 mr-4 text-muted">😭 <%= @illustration.likes.where(like_stamp: 2).count %></h5>
      <% end %>
    <% end %>

      <%# 共有 %>
      <div class="col-2">
        <h5 class="font-weight-bold text-muted mt-5 ml-5">
          共有
        </h5>
      </div>

      <%# Twitter共有ボタン %>
      <div class="col-1 mt-5">
        <%= link_to "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' do %>
          <h3><i class="fa-brands fa-square-twitter"></i></h3>
        <% end %>
      </div>
      <%# Instagram共有ボタン %>
      <div class="col-1 mt-5">
        <%= link_to "https://instagram.com/share?url=#{request.url}", title: 'Instagram', target: '_blank' do %>
          <h3><i class="fa-brands fa-instagram"></i></h3>
        <% end %>
      </div>

    </div>
  </div>

  <div class="container"><%# コメント %>
    <div class="row">
      <div class="col-2">
        <h5 class="font-weight-bold text-muted mt-5 ml-5">
          コメント
        </h5>
      </div>

      <div class="col-2">
        <h6 class="mt-5 text-muted">
          <%= @illustration.comments.count %> 件
        </h6>
      </div>

    </div>
  </div>

  <%# コメント送信フォーム %>
  <%= form_with model: [@illustration, @comment] do |f| %>
    <div class="container">
      <div class="row">

        <div class="col-7">
          <%= f.text_area :post_comment, class: "col-md-11 offset-md-1 mt-3 form-control", placeholder: "コメント記入" %>
        </div>

        <div class="col-5">
          <%= f.submit "送信する", class: "btn btn-success col-md-3 mt-4 mb-5" %>
        </div>

      </div>
    </div>
  <% end %>


  <% @illustration.comments.each do |comment| %><%# コメント表示 %>
    <div class="container">
      <div class="row">

        <div class="col-2 ml-3">
          <div class="text-center">
            <%# ユーザーアイコン　%>
            <%= link_to user_path(comment.user.id) do %>
              <%= image_tag comment.user.get_profile_picture(70,70), class: "border border-2 mt-3" %>
            <% end %>
          </div>
            <%# ユーザー名　%>
            <%= link_to user_path(comment.user.id) do %>
              <h5 class="text-center text-dark mb-3"><%= comment.user.user_name %></h5>
            <% end %>
        </div>

        <div class="col-7 mt-4">
          <% if comment.parent_id %>
            <%= comment.parent.user.user_name%> さんへのコメント
          <% end %>
        </div>

        <div class="col-7 mt-4">
          <%# コメント作成日時　%>                         <%# コメント %>
          <%= comment.created_at.strftime('%Y/%m/%d') %> : <%= comment.post_comment %>
        </div>

          <%# 削除ボタン　%>
          <% if comment.user == current_user %><%# コメントしたものがログインユーザーのものであれば削除ボタン表示 %>
            <%= link_to "コメント削除", illustration_comment_path(comment.illustration, comment), method: :delete, class: "btn btn-danger col-md-2 ml-4 mt-3 mb-3" %>
          <% end %>


      </div>
    </div>
      <%= form_with(model:[@illustration,@comment_reply]) do |form| %>
        <div class="row">
          <div class="form-group col-md-6">
            <p><label>リプライ</label></p>
            <textarea class="form-control input-form" name="comment[post_comment]" rows="2">
              <%=@comment_reply.post_comment %>
            </textarea>
          </div>
        </div>
          <%= form.hidden_field :illustration_id, value: @illustration.id %>
          <%= form.hidden_field :parent_id, value: comment.id%>
        <div class="actions">
          <%= form.submit "返信する", class: "btn btn-success col-md-2 mt-4 mb-5" %>
        </div>
      <% end %>
    <hr>
  <% end %>




  </html>