<!DOCTYPE html>
  <html>
    <head>
      <script src="https://kit.fontawesome.com/4a01096b3c.js" crossorigin="anonymous"></script>
    </head>

  <div class="container">
    <div class="row">

      <div class="col-2"><%# 投稿ユーザー %>
        <div class="text-center">
          <%# ユーザーアイコン　%>
          <%= link_to user_path(@illustration.user.id) do %>
            <%= image_tag @illustration.user.get_profile_picture(100,100), class: "border border-2 mt-3" %>
          <% end %>
        </div>
        <%# ユーザー名　%>
        <%= link_to user_path(@illustration.user.id) do %>
          <h4 class="text-center text-dark"><%= @illustration.user.user_name %></h4>
        <% end %>
      </div>

      <div class="col-5"><%# タイトル　%>
        <div class="form-group row mt-3">
         <h4 class="font-weight-bold"><%= @illustration.title %></h4>
        </div>

        <div class="form-group row">
          説明  : <%= @illustration.introduction %><br>
          投稿日: <%= @illustration.created_at.strftime('%Y/%m/%d') %><br>
        </div>

      </div>

      <div class="col-5"><%# 編集ボタン　%>
        <div class="form-group row">
          <% if @illustration.user == current_user %>
            <%= link_to '編集', edit_illustration_path(@illustration.id), class: "btn btn-success col-md-2 offset-md-3 mt-3" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

  <hr color="silver">

  <div class="container"><%# イラスト　%>
    <div class="row">
      <div class="px-3 mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 mt-4">

        <div class="form-group row">
          <%= image_tag @illustration.get_image(500,500) %>
        </div>

      </div>
    </div>
  </div>

  <div class="container"><%# いいね %>
    <div class="row">

      <div class="col-2">
        <h5 class="font-weight-bold mt-5 ml-5">
          いいね
        </h5>
      </div>

      <div class="col-2">
        <h6 class="mt-5">
          <% if @illustration.user == current_user %>
            いいね数 : <%= @illustration.likes.count %><%# いいね数 %>
          <% end %>
        </h6>
      </div>

      <div class="col-4">
        <% if @illustration.liked_by?(current_user) %>
            <%= link_to illustration_likes_path(@illustration), method: :delete do %><%# いいねあり %>
             <h4 class="mt-5">😊</h4>
            <% end %>

          <% else %>
            <%= link_to illustration_likes_path(@illustration), method: :post do %><%# いいねなし %>
              <h4 class="mt-5"><i class="fa-regular fa-face-smile-beam"></i></h4>
            <% end %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="container"><%# コメント %>
    <div class="row">
      <div class="col-2">
        <h5 class="font-weight-bold mt-3 ml-5">
          コメント
        </h5>
      </div>

      <div class="col-2">
        <h6 class="mt-3">
          コメント件数：<%= @illustration.comments.count %>
        </h6>
      </div>

    </div>
  </div>

  <%# コメント送信フォーム %>
  <%= form_with model: [@illustration, @comment] do |f| %>
    <div class="container">
      <div class="row">

        <div class="col-7">
          <%= f.text_area :post_comment, class: "col-md-11 offset-md-1 mt-3 form-control", placeholder: "コメント記入" %>
        </div>

        <div class="col-5">
          <%= f.submit "送信する", class: "btn btn-success col-md-3 mt-4 mb-5" %>
        </div>

      </div>
    </div>
  <% end %>


  <div class="container">
    <% @illustration.comments.each do |comment| %><%# コメント表示 %>
      <div class="row">

        <div class="col-2 ml-3">
          <div class="text-center">
            <%# ユーザーアイコン　%>
            <%= link_to user_path(comment.user.id) do %>
              <%= image_tag comment.user.get_profile_picture(70,70), class: "border border-2 mt-3" %>
            <% end %>
          </div>
            <%# ユーザー名　%>
            <%= link_to user_path(comment.user.id) do %>
              <h5 class="text-center text-dark mb-3"><%= comment.user.user_name %></h5>
            <% end %>
        </div>

        <div class="col-7">
          <%# コメント作成日時　%>                         <%# コメント %>
          <%= comment.created_at.strftime('%Y/%m/%d') %> : <%= comment.post_comment %>

          <%# 削除ボタン　%>
          <% if comment.user == current_user %><%# コメントしたものがログインユーザーのものであれば削除ボタン表示 %>
            <%= link_to "削除", illustration_comment_path(comment.illustration, comment), method: :delete, class: "btn btn-danger col-md-2 offset-md-2 mt-5 mb-5" %>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>

  </html>