<%# 通知一覧 %>

<% visitor = n.visitor %>
<% visited = n.visited %>


<div class="col-12 col-md-6 mx-auto">
  <div class="form-inline">
    <span>

      <%= link_to user_path(visitor) do %>
        <%# アイコン %>
        <%= image_tag visitor.get_profile_picture(50,50), class: "notice_icon border border-2 mr-2" %>
        <%# ユーザー名 %>
          <%= visitor.user_name %>
      <% end %>
      さんが

      <% case n.action %>
        <%# フォロー通知 %>
        <% when 'follow' then %>
          <%= "あなたをフォローしました" %>

        <%# いいね通知 %>
        <% when 'like' then %>
          <%= link_to 'あなたの投稿', n.illustration, class: "font-weight-bold" %>
          にいいねしました

        <%# コメント通知 %>
        <% when 'comment' then %>
          <%# 投稿に対するコメント通知 %>
          <% if n.illustration.user_id == visited.id %>
            <%= link_to "あなたの投稿", n.illustration, class: "font-weight-bold" %>
            にコメントしました
          <p class="text-muted mt-2">
            コメント：<%= Comment.find_by(id: n.comment_id)&.post_comment %>
          </p>

          <%# 返信コメント通知 %>
          <% else %>
            <span>
              <%= link_to illustration_path(n.illustration) do %>
                <%= image_tag n.visited.get_profile_picture(50,50), class: "notice_icon border border-2 mr-2" %>
                <%= n.visited.user_name %>
              <% end %>
              さんのコメントに返信しました
            </span>
            <p class="text-muted mt-2">
              コメント：<%= Comment.find_by(id: n.comment_id)&.post_comment %>
            </p>

        <% end %>



      <% end %>
    </span>
    <div class="small text-muted ml-5"><br>
      <%= time_ago_in_words(n.created_at).upcase %><br>
    </div>

  </div>
</div>


<hr>

