<%# 通知一覧 %>

<% visitor = n.visitor %>
<% visited = n.visited %>

<div class="col-md-6 mx-auto">
  <div class="form-inline">
    <span>
      <%# アイコン %>
      <%= link_to user_path(visitor) do %>
        <%= image_tag visitor.get_profile_picture(90,90), class: "border border-2 mt-3 mr-4" %>
      <% end %>

      <%# ユーザー名 %>
      <%= visitor.user_name %>さんが

      <% case n.action %>
        <%# フォロー通知 %>
        <% when 'follow' then %>
          <%= "あなたをフォローしました" %>

        <%# いいね通知 %>
        <% when 'like' then %>
          <%= link_to 'あなたの投稿にいいねしました', n.illustration, style: "font-weight: bold;" %>


        <%# コメント通知 %>
        <% when 'comment' then %>
          <%# 投稿に対するコメント通知 %>
          <% if n.illustration.user_id == visited.id %>
            <%= link_to "あなたの投稿にコメントしました", n.illustration, style: "font-weight: bold;" %>
          <p class="text-muted.mb-0">
            <%= Comment.find_by(id: n.comment_id)&.post_comment %>
           </p>

          <%# コメントへの返信通知 %>
          <% else %>
            <span>
              <%= link_to illustration_path(n.illustration) do %>
              <%# n.inspect %>
                <%#= image_tag user.get_profile_picture_url(n.illustration.user).to_s, class: "icon_mini" %>
                <%= image_tag n.visited.get_profile_picture(100,100), class: "icon_mini" %>
              <% end %>
              <%= n.visited.user_name + 'さんのコメントに返信しました' %>
            </span>

            <p class="text-muted.mb-0">
              <%= Comment.find_by(id: n.comment_id)&.post_comment %>
            </p>
        <% end %>



      <% end %>
    </span>

    <div class="small text-muted text-right">
      <%= time_ago_in_words(n.created_at).upcase %>
    </div>

  </div>
</div>

<hr>

