<div class="container">
  <div class="row">
    <h5 class="font-weight-bold text-muted text-center mt-5 mb-4 ml-4" style="background-color:gainsboro;">
      &emsp;新規登録&emsp;
    </h5>
  </div>

  <div class="row ml-4">
    <div class="col-9">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-4">プロフィール画像</label>
          <%= f.label :profile_picture, "ファイルを選択", class: "image_input_btn btn btn-secondary hidden" %>
          <%= f.file_field :profile_picture, accept: "profile_picture/*", class: "image_form hidden" %>
          <%#= f.file_field :profile_picture, accept: "profile_picture/*", class: "hidden" %>
      </div>

      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-4" for="public_user_name">ユーザー名</label>
        <%= f.text_field :user_name, class: "col-md-6 form-control" %>
      </div>

      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-4" for="public_self_introduction">自己紹介</label>
        <%= f.text_area :self_introduction, class: "col-md-6 form-control", placeholder: "ここに自己紹介文を記述します" %>

      </div>

      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-4" for="email">メールアドレス</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "col-md-6 form-control" %>
      </div>


      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-4" for="encrypted_password">パスワード(6文字以上)</label>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "col-md-6 form-control" %>
      </div>

      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-4" for="encrypted_password">パスワード(確認用)</label>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-md-6 form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録", class: "btn btn-success col-md-2 offset-md-4 mt-3" %>
      </div>
    <% end %>

  <%= render "public/shared/links" %>
  </div>
  </div>
</div>
