<div class="container">
  <div class="row">
    <h5 class="font-weight-bold text-muted offset-md-1 text-center mt-4 mb-4 ml-5" style="background-color:gainsboro;">
      &emsp;ユーザー情報編集&emsp;
    </h5>
  </div>

  <div class="row ml-5">
    <div class="col-9">

    <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>

      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-4">ユーザーID</label>
          <div class="user_id font-weight-bold"><%= @user.id %></div>
      </div>

      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-4">プロフィール画像</label>
          <%= f.label :profile_picture, "ファイルを選択", class: "image_input_btn btn btn-secondary" %>
          <%= f.file_field :profile_picture, class: "image_form" %>
          <input id="filename" readonly type="text" value="" >
      </div>

      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-4" for="public_user_name">ユーザー名</label>
        <%= f.text_field :user_name, class: "col-md-6 form-control" %>
      </div>

      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-4" for="public_self_introduction">自己紹介</label>
        <%= f.text_area :self_introduction, class: "col-md-6 form-control" %>

      </div>

      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-4" for="email">メールアドレス</label>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "col-md-6 form-control" %>
      </div>


      <div class="form-group row">
        <label class="font-weight-bold text-muted col-md-4">ユーザーステータス</label>

          <div class="form-check form-check-inline">
            <%= f.radio_button :is_deleted, :false, checked: true %>
            <label class="form-check-label" for="inlineRadio1">有効</label>
          </div>

          <div class="form-check form-check-inline">
            <%= f.radio_button :is_deleted, :true %>
            <label class="form-check-label" for="inlineRadio2">退会</label>
          </div>
      </div>


      <div class="actions mb-4">
        <%= f.submit "編集を保存", class: "btn btn-success col-md-2 offset-md-4 mt-3" %>
        <%= link_to 'ユーザーページに戻る', admin_user_path(@user.id), class: "btn btn-primary mt-3 ml-3" %>
      </div>
    <% end %>

    </div>
  </div>
</div>


<script type="text/javascript">
$(document).on('change', '.image_form', function() {
$('#filename').val($(this).val().replace(/^.*\\/, ""));
 })
</script>