<%# 管理者側ユーザー詳細画面 %>

<div class="container">
  <div class="row">

    <div class="col-2">
      <%# ユーザーアイコン　%>
      <div class="text-center">
        <%= image_tag @user.get_profile_picture(100,100), class: "border border-2 mt-4" %>

      </div>
        <%# ユーザー名 %>
        <h4 class="text-center"><%= @user.user_name %></h4>
    </div>

    <%# 自己紹介文　%>
    <div class="col-5">
      <h6 class="mt-5"><%= @user.self_introduction %></h6>
    </div>

    <%# ユーザー編集ボタン　%>
    <div class="col-5">
      <%= link_to edit_admin_user_path(@user.id) do %>
        <button type="button" class="btn btn-outline-secondary mt-4">
          ユーザー編集
        </button>
      <% end %>
    </div>

  </div>
</div>

<hr color="silver">

<%# 投稿一覧 %>
<div class="mb-5">
  <div class="container">
    <div class="row">
      <h5 class="font-weight-bold text-muted ml-5">投稿イラスト</h5>
    </div>

    <div class="ml-4">
      <% @illustrations.each do |illustration| %>
        <%= link_to admin_illustration_path(illustration.id) do %>
          <%= image_tag illustration.image, class:"ml-3 mt-3", width:'200px', height:'250px' %>
        <% end %>
      <% end %>
    </div>
  </div>
<div>

</div>

<%# ページ %>
<div class="container">
  <div class="col-12 offset-md-5 mb-3 mt-3">
    <%= paginate @illustrations %>
  </div>
</div>
