<%# 管理者側ユーザー詳細画面 %>

<div class="container">
  <%# フラッシメッセージ %>
  <div class="mt-4 ml-4">
    <h6 class="font-weight-bold text-muted"><%= flash[:notice] %></h6>
  </div>

  <div class="row">

    <div class="col-12 col-md-2">
      <%# ユーザーアイコン　%>
      <div class="text-center">
        <%= image_tag @user.get_profile_picture(100,100), class: "profile_picture border border-2 mt-4" %>
      </div>

      <%# ユーザー名 %>
      <div class="user_name h5 text-center font-weight-bold">
        <%= @user.user_name %>
      </div>
    </div>

    <%# 自己紹介文　%>
    <div class="self_introduction col-12 col-md-6">
      <div class="self_introduction_inner h6">
        <% if @user.is_deleted == false %>
          <%= @user.self_introduction %>
        <% else %>
         退会済みユーザー
        <% end %>
      </div>
    </div>

    <%# ユーザー編集ボタン　%>
    <div class="col-12 col-md-4">
      <%= link_to edit_admin_user_path(@user.id) do %>
        <button type="button" class="admin_edit_user_button btn btn-success mt-4">
          ユーザー編集
        </button>
      <% end %>
    </div>

  </div>
</div>

<hr color="silver">

<%# 投稿一覧 %>
<div class="mb-5">
  <div class="container">
    <div class="row">
      <h5 class="font-weight-bold text-muted ml-5">投稿イラスト</h5>
    </div>

    <div class="illustrations">
      <% @illustrations.each do |illustration| %>
        <%= link_to admin_illustration_path(illustration.id) do %>
          <%= image_tag illustration.image, class:"illustration ml-2 mt-3" %>
        <% end %>
      <% end %>
    </div>
  </div>
<div>

</div>

<%# ページ %>
<div class="container">
  <div class="paginate col-12 offset-md-5 mb-3 mt-3">
    <%= paginate @illustrations %>
  </div>
</div>
