<div class="container">
  <div class="row">
    <h4 class="font-weight-bold text-muted mt-4 ml-5 mb-2">
      タイムライン
    </h4>
  </div>
</div>

<hr>

<% if @illustrations.exists? %>
  <% @illustrations.each do |illustration| %>
    <div class="container">
      <div class="row">

      <%# 投稿ユーザー %>
        <div class="col-md-3 col-3">
          <div class="text-center">
            <%# ユーザーアイコン %>
            <%= link_to user_path(illustration.user.id) do %>
              <%= image_tag illustration.user.get_profile_picture(70,70), class: "mini_user_icon border border-2 mt-3" %>
            <% end %>
          </div>

          <%# ユーザー名 %>
          <%= link_to user_path(illustration.user.id) do %>
            <div class="mini_user_name h5 text-center text-dark font-weight-bold"><%= illustration.user.user_name %></div>
          <% end %>
        </div>


        <%# イラスト %>
        <div class="col-9">
            <%= link_to illustration_path(illustration.id) do %>

              <%# イラストタイトル %>
              <div class="timeline_illustration_title h5 font-weight-bold text-dark ml-3 mt-3 mb-2">
                <%= illustration.title %>
              </div>

              <%# イラスト %>
              <%= image_tag illustration.get_image(300,300), class:"timeline_illustration mt-2" %>

            <% end %>
            <h6 class="text-muted mt-2 ml-2">
              投稿日: <%= illustration.created_at.strftime('%Y/%m/%d') %>
            </h6>
          </div>
        </div>

      </div>
    </div>
    <hr>
  <% end %>

<% else %>
<div class="container">
  <h5 class="font-weight-bold text-muted text-center mt-5 ml-2">
    投稿はありません
  </h5>
</div>

<% end %>

<%# ページ %>
<div class="container">
  <div class="paginate col-12 offset-md-5 mb-3 mt-3">
    <%= paginate @illustrations %>
  </div>
</div>


