<div class="container">
  <div class="row">
    <h5 class="font-weight-bold text-muted mt-2 mb-4">
      タイムライン
    </h5>
  </div>
</div>



<% @illustrations.each do |illustration| %>

  <table class="table">
    <tbody>
      <tr>
        <td><%# 投稿ユーザー %>
          <div class="text-center">
            <%# ユーザーアイコン %>
            <%= link_to user_path(illustration.user.id) do %>
              <%= image_tag illustration.user.get_profile_picture(70,70), class: "border border-2 mt-3 ml-5" %>
            <% end %>
          </div>

          <%# ユーザー名 %>
          <%= link_to user_path(illustration.user.id) do %>
            <h5 class="text-center text-dark ml-5"><%= illustration.user.user_name %></h5>
          <% end %>
        </td>

        <td><%# イラスト %>
          <div class="row">
            <%= link_to illustration_path(illustration.id) do %>
              <h5 class="text-center font-weight-bold text-dark"><%= illustration.title %></h5>
              <%= image_tag illustration.get_image(300,300), class:"mt-2" %>
            <% end %>
          </div>
        </td>

        <td><%# イラスト説明 %>
          <div class="mt-5">
            説明  : <%= illustration.introduction %><br>
            投稿日: <%= illustration.created_at.strftime('%Y/%m/%d') %><br>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

<% end %>

