<div class="container">
  <div class="row">
    <h4 class="font-weight-bold text-muted mt-4 ml-5 mb-4">
      タイムライン
    </h4>
  </div>
</div>


<% @illustrations.each do |illustration| %>
  <% if @illustrations.exists? %>
  <table class="table">
    <tbody>
      <tr>
        <td><%# 投稿ユーザー %>
          <div class="text-center">
            <%# ユーザーアイコン %>
            <%= link_to user_path(illustration.user.id) do %>
              <%= image_tag illustration.user.get_profile_picture(70,70), class: "border border-2 mt-3 ml-5" %>
            <% end %>
          </div>

          <%# ユーザー名 %>
          <%= link_to user_path(illustration.user.id) do %>
            <h5 class="text-center text-dark ml-5"><%= illustration.user.user_name %></h5>
          <% end %>
        </td>

        <td><%# イラストタイトル %>
          <%= link_to illustration_path(illustration.id) do %>
            <h5 class="font-weight-bold text-dark mt-3 mb-2">
              <%= illustration.title %>
            </h5>
          <% end %>
        </td>

        <td><%# イラスト %>
        <div class="container">
          <div class="row">
            <%= link_to illustration_path(illustration.id) do %>
              <%= image_tag illustration.get_image(300,300), class:"mt-2" %>
            <% end %>
            <h6 class="text-dark mt-5 ml-2">
              投稿日: <%= illustration.created_at.strftime('%Y/%m/%d') %><br>
            </h6>
          </div>
        </div>
        </td>
      </tr>
    </tbody>
  </table>
  <% else %>
    <div class="container">
      <h5 class="ml-5">投稿はありません</h5>
    </div>
  <% end %>

<% end %>

