<div class="container">
  <div class="col-2">
    <div class="text-center">
      <%= image_tag @user.get_profile_picture(100,100) %>
    </div>
    <h4 class="text-center"><%= @user.user_name %></h4>
  </div>
  
  <h6><%= @user.self_introduction %></h6>

    <%= link_to new_illustration_path do %>
      <button type="button" class="btn btn-outline-secondary mr-2">
        新規投稿
      </button>
    <% end %>

    <%= link_to edit_user_path(current_user.id) do %>
      <button type="button" class="btn btn-outline-secondary mr-2">
        ユーザー編集
      </button>
    <% end %>

</div>

<div class="container">

</div>
