<%# ユーザー詳細画面 %>

<div class="container">

  <%# フラッシメッセージ %>
  <div class="mt-4 ml-4">
    <h6 class="font-weight-bold text-muted"><%= flash[:notice] %></h6>
  </div>

  <div class="row">

    <%# ユーザーアイコン　%>
    <div class="col-12 col-md-2">
      <div class="text-center">
        <%= image_tag @user.get_profile_picture(100,100), class: "profile_picture border border-2" %>
      </div>
        <%# ユーザー名 %>
        <div class="user_name h5 text-center font-weight-bold">
          <%= @user.user_name %>
        </div>
      </div>

    <%# 自己紹介文　%>
    <div class="self_introduction col-12 col-md-6">
      <div class="self_introduction_inner h6">
        <% if @user.is_deleted == false %>
          <%= @user.self_introduction %>
        <% else %>
         退会済みユーザー
        <% end %>
      </div>
    </div>


    <div class="user_button col-md-4">
      <% if @user == current_user %><%# 自分のみ表示 %>

        <%# 新規投稿ボタン　%>
        <%= link_to new_illustration_path do %>
          <button type="button" class="new_illustration_button btn btn-success mr-3 offset-md-1 mt-4">
            イラスト投稿
          </button>
        <% end %>

        <%# ユーザー編集ボタン　%>
        <%= link_to edit_user_path(current_user.id) do %>
          <button type="button" class="edit_user_button btn btn-outline-secondary mt-4">
            ユーザー編集
          </button>
        <% end %>

      <% end %>

      <%# フォローボタン %>
      <% unless @user == current_user %><%# 自分以外に表示 %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォローを外す", user_relationships_path(@user.id), method: :delete, class: "unfollow_button btn btn-dark offset-md-5 mt-4" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "follow_button btn btn-primary offset-md-5 mt-4" %>
        <% end %>
      <% end %>

    </div>

  </div>
</div>


<hr color="silver">

<div class="container">
  <div class="row">

    <%# フォロー一覧リンク %>
    <div class="followings offset-md-3">
      <%= link_to user_followings_path(@user) do %>
        <h5 class="font-weight-bold text-muted">フォロー</h5>
      <% end %>
    </div>

    <%# フォロワー一覧リンク %>
    <div class="followers offset-md-1">
      <%= link_to user_followers_path(@user) do %>
        <h5 class="font-weight-bold text-muted">フォロワー</h5>
      <% end %>
    </div>

    <%# いいね一覧リンク %>
    <div class="likes offset-md-1">
      <%= link_to likes_user_path(@user) do %>
        <h5 class="font-weight-bold text-muted">いいね</h5>
      <% end %>
    </div>
  </div>
</div>

<hr color="silver">

<%# 投稿一覧 %>
<div class="mb-5">
  <div class="container">
    <div class="row">
      <h5 class="font-weight-bold text-muted ml-5">投稿イラスト</h5>
    </div>

  <div class="illustrations">
    <% @illustrations.each do |illustration| %>
      <%= link_to illustration_path(illustration.id) do %>
        <%= image_tag illustration.image, class:"illustration ml-2 mt-3" %>
      <% end %>
    <% end %>
  </div>

  </div>
</div>

<%# ページ %>
<div class="container">
  <div class="paginate col-12 offset-md-5 mb-3 mt-3">
    <%= paginate @illustrations %>
  </div>
</div>
