<div class="container">
  <div class="row">

    <div class="col-2"><%# ユーザーアイコン　%>
      <div class="text-center">
        <%= image_tag @user.get_profile_picture(100,100), class: "border border-2 mt-3" %>
      </div>
      <h4 class="text-center"><%= @user.user_name %></h4>
    </div>

    <div class="col-5"><%# 自己紹介文　%>
      <h6 class="mt-5"><%= @user.self_introduction %></h6>
    </div>

    <div class="col-5">
      <% if @user == current_user %>
        <%= link_to new_illustration_path do %><%# 新規投稿ボタン　%>
          <button type="button" class="btn btn-success mr-3 offset-md-4">
            新規投稿
          </button>
        <% end %>
        <%= link_to edit_user_path(current_user.id) do %><%# ユーザー編集ボタン　%>
          <button type="button" class="btn btn-outline-secondary">
            ユーザー編集
          </button>
        <% end %>
      <% end %>
      <% unless @user == current_user %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォローを外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-dark offset-md-5" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-primary offset-md-5" %>
        <% end %>
      <% end %>

    </div>

  </div>
</div>


<hr color="silver">

<div class="container">
  <div class="row">
    <div class="offset-md-3">
      <%= link_to user_followings_path(@user.id) do %>
        <h5 class="font-weight-bold text-muted">フォロー</h5>
      <% end %>
    </div>

    <div class="offset-md-1">
      <%= link_to user_followers_path(@user.id) do %>
        <h5 class="font-weight-bold text-muted">フォロワー</h5>
      <% end %>
    </div>

    <div class="offset-md-1">
      <%= link_to likes_user_path(@user) do %>
        <h5 class="font-weight-bold text-muted">いいね</h5>
      <% end %>
    </div>
  </div>
</div>

<hr color="silver">


<div class="container">
  <div class="row">
    <h5 class="font-weight-bold text-muted ml-5">投稿イラスト</h5>
  </div>

    <% @illustrations.each do |illustration| %>
      <%= link_to illustration_path(illustration.id) do %>
        <%= image_tag illustration.get_image(300,300), class:"ml-5 mt-3" %>
      <% end %>
    <% end %>

</div>

<div class="container">
  <div class="col-12 offset-md-5 mb-3 mt-3">
    <%= paginate @illustrations %>
  </div>
</div>
