<!DOCTYPE html>
<html>
  <head>
    <title>Art Community</title>
    <script src="https://kit.fontawesome.com/4a01096b3c.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <div class="container">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown" style>
            <ul class="navbar-nav">

            <% if admin_signed_in? %><%# 会員ログイン　%>

              <%# ロゴ　%>
              <%= link_to admin_path, class:"navbar-brand" do %>
                <div class="h1 text-dark mb-2 mr-5">Art Community</div>
              <% end %>

              <li>
                <%= link_to admin_users_path do %>
                  <button type="button" class="btn btn-outline-secondary mr-5 ml-5 mt-3">ユーザー覧</button>
                <% end %>
              </li>

              <li>
                <%=link_to admin_path do %>
                  <button type="button" class="btn btn-outline-secondary mr-5 mt-3">投稿一覧</button>
                <% end %>
              </li>

              <li>
                <%= link_to  destroy_admin_session_path, method: :delete do %>
                  <button type="button" class="btn btn-outline-secondary mr-5 mt-3">ログアウト</button>
                <% end %>
              </li>


            <% elsif user_signed_in? %><%# ユーザーログイン　%>

            <%# ロゴ　%>
            <%= link_to illustrations_path, class:"navbar-brand" do %>
              <div class="h1 text-dark mb-2 mr-5">Art Community</div>
            <% end %>

            <div class="navbar-collapse collapse" id="navbarNav" style>
              <ul class="navbar-nav">

              <li>
                <%= link_to illustrations_path do %>
                  <button type="button" class="btn btn-outline-secondary mr-2">
                    <i class="fa-solid fa-palette"></i>
                    新着イラスト
                  </button>
                <% end %>
              </li>

              <li>
                <%= link_to user_path(current_user.id) do %>
                  <button type="button" class="btn btn-outline-secondary mr-2">
                    <i class="fa-solid fa-user"></i>
                    マイページ
                  </button>
                <% end %>
              </li>

              <li>
                <%=link_to timelines_path do %>
                  <button type="button" class="btn btn-outline-secondary mr-2">
                    <i class="fa-solid fa-clock"></i>
                    タイムライン
                  </button>
                <% end %>
              </li>

              <li>
                <%#=link_to _path do %>
                  <button type="button" class="btn btn-outline-secondary mr-2">
                    <i class="fa-solid fa-bell"></i>
                    通知
                  </button>
                <%# end %>
              </li>

              <li>
                <%=link_to search_path do %>
                  <button type="button" class="btn btn-outline-secondary mr-2">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    検索
                  </button>
                <% end %>
              </li>

              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <button type="button" class="btn btn-outline-secondary mr-2">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    ログアウト
                  </button>
                <% end %>
              </li>

              </ul>
            </div>


            <% else %><%# ログアウト %>

              <%# ロゴ　%>
              <%= link_to root_path, class:"navbar-brand" do %>
                <div class="h1 text-dark mb-2 mr-5">Art Community</div>
              <% end %>

              <li>
                <%= link_to new_user_registration_path do %>
                  <button type="button" class="btn btn-outline-secondary mr-5 ml-5 mt-3">新規登録</button>
                <% end %>
              </li>

              <li>
                <%= link_to user_session_path do %>
                  <button type="button" class="btn btn-outline-secondary mr-5 mt-3">ログイン</button>
                <% end %>
              </li>

              <li>
                <%#=link_to  do %>
                  <button type="button" class="btn btn-outline-secondary mr-5 mt-3">ゲストログイン</button>
                <%# end %>
              </li>

            <% end %>

            </ul>
          </div>
        </div>
      </nav>
    </header>
    <hr color="black">

    <main>
      <%= yield %>
    </main>
  </body>

</html>
