<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="application.style.css" />
    <title>Art Community</title>
    <script src="https://kit.fontawesome.com/4a01096b3c.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-dark bg-dark">
        <div class="container">

        <%# ロゴ　%>
        <%= link_to admin_path, class:"navbar-brand" do %>
          <div class="h1 text-white mb-2 offset-md-1">Art Community</div>
        <% end %>

        <!-- ハンバーガーメニュー -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- ナビゲーションメニュー -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

            <% if admin_signed_in? %><%# 会員ログイン　%>

              <li>
                <%= link_to admin_users_path do %>
                  <button type="button" class="btn btn-outline-secondary mr-5 ml-5 mt-3">ユーザー覧</button>
                <% end %>
              </li>

              <li>
                <%=link_to admin_path do %>
                  <button type="button" class="btn btn-outline-secondary mr-5 mt-3">投稿一覧</button>
                <% end %>
              </li>

              <li>
                <%= link_to  destroy_admin_session_path, method: :delete do %>
                  <button type="button" class="btn btn-outline-secondary mr-5 mt-3">ログアウト</button>
                <% end %>
              </li>


            <% elsif user_signed_in? %><%# ユーザーログイン　%>

              <li class="nav-item">
                <%= link_to illustrations_path do %>
                  <div class="nav-link ml-5">
                    <i class="fa-solid fa-house"></i>
                      新着イラスト(ホーム)
                  </div>
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to user_path(current_user.id) do %>
                  <div class="nav-link ml-5">
                    <i class="fa-solid fa-user"></i>
                    マイページ
                  </div>
                <% end %>
              </li>

              <li class="nav-item">
                <%=link_to timelines_path do %>
                  <div class="nav-link ml-5">
                    <i class="fa-solid fa-clock"></i>
                    タイムライン
                  </div>
                <% end %>
              </li>

              <li class="nav-item">
                <%=link_to notices_path do %>
                  <div class="nav-link ml-5">
                   <i class="fa-solid fa-bell"></i>
                   通知
                  </div>
                <% end %>
              </li>

              <li class="nav-item">
                <%=link_to searches_path do %>
                  <div class="nav-link ml-5">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    検索
                  </div>
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to new_illustration_path do %>
                  <div class="nav-link ml-5">
                    <button type="button" class="btn btn-secondary mr-2">
                     <i class="fa-solid fa-pen"></i>
                      新規投稿
                    </button>
                  </div>
                <% end %>
              </li>


              <li class="nav-item">
               <%= link_to destroy_user_session_path, method: :delete do %>
                  <div class="nav-link ml-5">
                    <button type="button" class="btn btn-outline-light mr-2">
                      <i class="fa-solid fa-right-from-bracket"></i>
                      ログアウト
                    </button>
                  </div>
                <% end %>
              </li>


            <% else %><%# ログアウト %>

              <li>
                <%= link_to new_user_registration_path do %>
                  <button type="button" class="btn btn-outline-secondary mr-5 ml-5 mt-3">新規登録</button>
                <% end %>
              </li>

              <li>
                <%= link_to user_session_path do %>
                  <button type="button" class="btn btn-outline-secondary mr-5 mt-3">ログイン</button>
                <% end %>
              </li>

              <li>
                <%= link_to homes_guest_sign_in_path, method: :post do %>
                  <button type="button" class="btn btn-outline-secondary mr-5 mt-3">ゲストログイン</button>
                <% end %>
              </li>

            <% end %>

            </ul>
          </div><!-- ナビゲーションメニュー -->
        </div><!-- container -->
      </nav>
    </header>


    <main>
      <%= yield %>
    </main>
  </body>

</html>
